body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #928592;
  border: 10px solid #847684;
  padding: 20px;
  width: 350px;
}

.btn-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

button {
  flex: 1;
  height: 50px;
  border: none;
  background-color: #a89ba8;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}

#display {
  flex: 3;
  height: 48px;
  font-size: 20px;
  text-align: right;
  padding-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #a89ba8;
  color: #222;
  outline: none;
}
